@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #b397d6;
}

.shadow {
  box-shadow: -15px 13px 268px 92px rgba(46, 12, 71, 0.95);
  -webkit-box-shadow: -15px 13px 268px 92px rgba(46, 12, 71, 0.95);
  -moz-box-shadow: -15px 13px 268px 92px rgba(46, 12, 71, 0.95);
}
